// colors

$white: #FFFFFF;
$dark-purple: #656980;
$gray: #6C7279;
$deep-grey: #808080;
$light-grey: #BABBC5;
$light-black: #2D3033;
$red: #FF4343;
$deep-red: #E71414;
$black: #000000;

//font-size

$_13px: 0.8125rem;
$_64px: 4rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_30px: 1.875rem;

//border

$border-bottom_hover: 2px solid $light-grey;
$border-bottom_active: 2px solid $deep-red;