@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.banner {
    background-image: url(../assets/images/banner-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(37, 43, 73, .8);
        mix-blend-mode: normal;
        z-index: -1;
    }

    &-wrap {
        max-width: 1170px;
        height: 100vh;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .banner__title {
            h1 {
                @include fontRaleway(900, $_64px, 75px);
                color: $white;
                text-align: center;
                text-transform: uppercase;
                margin-top: 230px;
                margin-bottom: 32px;
            }
        }

        .banner__subtitle {
            p {
                color: $white;
                text-align: center;
                margin-bottom: 82px;
                @include fontRaleway(400, $_24px, 28px);
            }
        }

        .banner__button {
            margin-bottom: 120px;
            text-align: center;
            width: 396px;
            background-color: $red;
            padding: 26px 0;
            @include fontRaleway(900, $_24px, 28px);

            a {
                color: $white;
            }

            &:hover {
                background-color: $deep-red;
                cursor: pointer;
            }

            &:active {
                background-color: $red;
                box-shadow: 4px 4px 30px $red;
            }
        }

    }
}

@media(max-width: 1024px) {
    .banner {
        &-wrap {
            .banner__title {
                h1 {
                    @include fontRaleway(900, $_48px, 56px);
                    margin-top: 246px;
                    margin-bottom: 62px;
                }
            }

            .banner__subtitle {
                p {
                    margin-bottom: 89px;
                    @include fontRaleway(400, $_18px, 21px);
                }
            }

            .banner__button {
                margin-bottom: 126px;
                width: 314px;
                @include fontRaleway(900, $_24px, 28px);
            }
        }
    }
}

@media(max-width: 320px) {
    .banner {
        &-wrap {
            .banner__title {
                h1 {
                    @include fontRaleway(900, $_36px, 42px);
                    margin-top: 106px;
                    margin-bottom: 33px;
                }
            }

            .banner__subtitle {
                p {
                    margin-bottom: 50px;
                    @include fontRaleway(400, $_14px, 16px);
                }
            }

            .banner__button {
                width: 280px;
                margin-bottom: 52px;
                padding: 16px 0;
                @include fontRaleway(900, $_24px, 28px);
            }
        }
    }
}