@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.download {
    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 114px;
        margin-bottom: 114px;

        .download__title {
            h3 {
                @include fontRaleway(500, $_30px, 35px);
                color: $black;
                padding: 17.5px 0;
                margin-bottom: 5px;
            }
        }

        .download__subtitle {
            p {
                @include fontRaleway(700, $_18px, 21px);
                text-transform: uppercase;
                margin-bottom: 48px;
            }
        }

        .download__button {
            width: 370px;
            text-align: center;
            background-color: $red;
            padding: 26px 0;
            @include fontRaleway(900, $_18px, 21px);
            text-transform: uppercase;

            a {
                color: $white;
            }

            &:hover {
                background-color: $deep-red;
                cursor: pointer;
            }

            &:active {
                background-color: $red;
                box-shadow: 4px 4px 30px $red;
            }
        }
    }
}

@media(max-width: 1024px) {
    .download {
        &-wrap {
            padding: 0 20px;
            margin-top: 77.5px;
            margin-bottom: 78px;
    
            .download__title {
                h3 {
                    @include fontRaleway(500, $_24px, 28px);
                    padding: 17.5px 0;
                    margin-bottom: 5px;
                }
            }
    
            .download__subtitle {
                p {
                    @include fontRaleway(700, $_14px, 16px);
                    margin-bottom: 43px;
                }
            }
    
            .download__button {
                width: 314px;
                @include fontRaleway(900, $_18px, 21px);
            }
        }
    }
}

@media(max-width: 320px) {
    .download {
        &-wrap {
            padding: 0 20px;
            margin-top: 34.5px;
            margin-bottom: 45px;
    
            .download__title {
                h3 {
                    @include fontRaleway(500, $_18px, 21px);
                    padding: 17.5px 0;
                    margin-bottom: 3px;
                    text-align: center;
                }
            }
    
            .download__subtitle {
                p {
                    @include fontRaleway(700, $_13px, 15px);
                    margin-bottom: 11px;
                    text-align: center;
                }
            }
    
            .download__button {
                width: 279px;
                @include fontRaleway(900, $_18px, 21px);
            }
        }
    }
}