.features {}

.features-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px 31px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 116px;
    margin-bottom: 134px;
}

.features-card {
    text-align: center;
}

.card__icon {
    margin-bottom: 29px;
}

.cadr__title {
    margin-bottom: 20px;
}

.card__text {
    
}