@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;

    &-wrap {
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #BABBC5;

        .header__logo {
            flex-direction: column;
            align-self: center;
            justify-content: space-between;
        }

        .header__link {
            align-self: center;
            margin: 36px 0;

            li {
                display: inline;
                text-transform: uppercase;
            }

            a {
                color: $white;
                padding: 36px 25px;
                @include fontRaleway(700, $_13px, 15px);

                &:hover {
                    border-bottom: $border-bottom_hover;
                }

                &:active {
                    color: $deep-red;
                    border-bottom: $border-bottom_active;
                }
            }
        }

    }
}

@media(max-width: 1024px) {
    .header {
        &-wrap {
            .header__link {
                a {
                    padding: 36px 15px;
                    @include fontRaleway(700, $_12px, 14px);
                }
            }
        }
    }
}

@media(max-width: 320px) {

}