@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;

    header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
    }

    .container {
        width: 100%;

        .header-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #BABBC5;

            .header__logo {
                flex-direction: column;
                align-self: center;
                justify-content: space-between;
            }

            .header-burger {
                display: none;
            }

            .header__link {
                display: flex;

                .link-item {
                    text-transform: uppercase;
                    color: $white;
                    text-align: center;
                    padding: 36px 25px;
                    @include fontRaleway(700, $_13px, 15px);
                    flex-direction: row;

                    &:hover {
                        border-bottom: $border-bottom_hover;
                    }

                    &:active {
                        color: $deep-red;
                        border-bottom: $border-bottom_active;
                    }
                }
            }

            .burger-btn {
                display: none;
                position: relative;
                width: 55px;
                height: 55px;
                border: none;
                background-color: transparent;
                z-index: 4;

                span {
                    position: absolute;
                    width: 25px;
                    height: 2px;
                    background-color: white;
                    left: 15px;
                    transition: 0.4s;

                    &:nth-child(1) {
                        transform: translateY(-6px);
                    }

                    &:nth-child(3) {
                        transform: translateY(6px);
                    }
                }
            }

        }
    }

    .open {
        .burger-btn {
            position: fixed;
            right: 10%;

            span {
                &:nth-child(1) {
                    transform: translateY(0) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(0) rotate(45deg);
                }
            }
        }

        .header__link {
            transform: translateX(0%);
            transition: 0.5s;
        }
    }
}

@media(max-width: 1024px) {
    .header {
        &-wrap {
            .header__link {
                a {
                    padding: 36px 15px;
                    @include fontRaleway(700, $_12px, 14px);
                }
            }
        }
    }
}

@media(max-width: 320px) {
    .header {
        .container {

            .header-wrap {
                width: 100%;
                padding: 0;

                .header__logo {
                    margin: 19px 0;

                    .img__active {
                        width: 68px;
                        height: 14px;
                    }

                    .img__box {
                        width: 34px;
                    }
                }

                .header__link {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background-color: rgba(37, 43, 73, 0.8);
                    width: 100%;
                    height: 100%;
                    transform: translateX(-100%);
                    z-index: 5;

                    .link-item {
                        padding-bottom: 0px;
                        border-bottom: 0px;
                        min-width: auto;
                        color: $white;
                        padding: 24px 0;
                        @include fontRaleway(700, $_13px, 15px);

                        &:hover {
                            border-bottom: none;
                        }

                        &:active {
                            color: $deep-red;
                            border-bottom: none;
                        }
                    }
                }

                .burger-btn {
                    display: block;
                }
            }
        }
    }

}