    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto
}

@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

@import url(./header.scss);

@import url(./banner.scss);

@import url(./features.scss);

@import url(./work.scss);

@import url(./team.scss);

@import url(./testimonial.scss);

@import url(./download.scss);

@import url(./social.scss);

@import url(./footer.scss);