@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.swiper {
    width: 100%;
    height: 100%;

    .slide-image {
        display: flex;
        margin: 21px;

        .image-wrap {
            display: flex;
            background: #5C3249;
            width: 100%;
            height: 100%;
            margin-bottom: 31px;

            .slide-img {
                width: 50%;
                object-fit: cover;
            }

            .slide-image__text {
                margin: 116px 0;

                .text-coment {
                    max-width: 471px;
                    @include fontCardo(400, $_36px, 49px);
                    color: $white;
                    padding-bottom: 25px;
                    margin: 0 170px 0 129px;
                }

                .text-author {
                    @include font(700, $_13px, 15px);
                    text-transform: uppercase;
                    color: $white;
                    max-width: 470px;
                    margin: 0 170px 0 130px;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border: 1px solid #7E5D6F;
        background: $white;
    }

    .swiper-pagination-bullet-active {
        background: #7E5D6F;
        border: 1px solid #7E5D6F;
    }
}