@import '_cdn.scss';

@import '_mixins.scss';

@import '_variables.scss';

.work {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);

    &-image {
        position: relative;
        z-index: 1;

        .project__img {
            width: 100%;
            height: 100%;
        }

        .image-text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            text-align: center;
            opacity: 0;
            transition: 3s;

            .text__name {
                @include fontRaleway(900, $_24px, 28px);
                margin-bottom: 20px;
                text-transform: uppercase;
                color: $white;
                padding-bottom: 20px;
                margin-top: 33%;
            }

            .text__about {
                @include fontRaleway(400, $_18px, 21px);
                color: $white;
                margin-bottom: 33%;
            }
        }

        &:hover {
            .image-text {
                background-color: $red;
                border: $border-img;
                cursor: pointer;
                opacity: 0.8;
                transition: 3s;
            }
        }

        &:active {
            .image-text {
                background: rgba(185, 12, 12, 0.8);
                transition: 0.2s;
            }
        }
    }
}

@media(max-width: 1024px) {
    .text__name {
        @include fontRaleway(900, $_18px, 21px);
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 33%;
    }

    .text__about {
        @include fontRaleway(400, $_14px, 16px);
        margin-bottom: 33%;
    }
}

@media(max-width: 320px) {
    .work {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);

        &-image {
            .image-text {
                .text__name {
                    @include fontRaleway(900, $_18px, 21px);
                    padding-bottom: 0;
                    margin-top: 33%;
                    margin-bottom: 5%;
                }

                .text__about {
                    @include fontRaleway(400, $_14px, 16px);
                    margin-bottom: 33%;
                }
            }
        }
    }

}